@model User

<div class="text-center">
    <h1 class="text-center text-success"> WELCOME TO THE FIGHT, <span class="text-danger">@Model.FirstName</span>! </h1>
    <a href="/"><button class="btn btn-danger">Retreat!</button></a>
</div>
